# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.svn
*.class
!classes/*.properties
#*.classpath
*.bin
*.lock
SmartDogWeb/src/main/webapp/WEB-INF/classes/
SmartDogAdminWeb/src/main/webapp/WEB-INF/classes/
build/
bin/
SmartDogServicesEAR/build/**
SmartDogServicesEAR/.gradle/1.9/taskArtifacts/**
SmartDogWeb/.gradle/1.9/taskArtifacts/**
SmartDogAdminWeb/.gradle/1.9/taskArtifacts/**
.metadata/
RemoteSystemsTempFiles/
.settings/

*.pref

**/Servers/**

**/.gwt/.gwt-log
*.orig
#SmartDogServicesEJB/.classpath
#SmartDogServicesEJB/.classpath
#SmartDogServicesEJB/.classpath
SmartDogWeb/.tern-project
.project
SmartDogServicesEJB/.classpath
SmartDogServices/.classpath
SmartDogWeb/.classpath
SmartDogServicesEJB/.classpath
SmartDogServicesEAR/.classpath
SmartDogServices/.classpath
SmartDogAdminWeb/.classpath
SmartDogWeb/.classpath
