
<!doctype html>
<html ng-app="smartApp">

	<head>
	 <meta charset="utf-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	 <title> Administrar inmobiliarias </title>
	 
		<link rel="stylesheet" type="text/css" media="screen" href="../../../template_admin_smart/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="../../../template_admin_smart/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="../../../template_admin_smart/css/smartadmin-production-plugins.min.css">
		
		<script src="../../../template_admin_smart/js/libs/jquery-2.1.1.min.js"></script>
		<script src="../../../template_admin_smart/js/libs/jquery-ui-1.10.3.min.js"></script>
		<script src="../../../template_admin_smart/js/app.config.js"> </script>
		<script src="../../../template_admin_smart/js/app.min.js"> </script>
		<script src="../../../template_admin_smart/js/notification/SmartNotification.min.js"> </script>
		
		<link rel="stylesheet" type="text/css" href="../../../css/smart_general.css">
		<link rel="stylesheet" type="text/css" href="../../../css/smart_icons_styles.css">
		<link rel="stylesheet" type="text/css" href="../../../css/smart_tabladatos.css">
		<link rel="stylesheet" type="text/css" href="../../../js/ngdialog-0.2.3/ngDialog.css">
		<link rel="stylesheet" type="text/css" href="../../../js/ngdialog-0.2.3/ngDialog-theme-default.css">
		<link rel="stylesheet" type="text/css" href="../../../js/ngdialog-0.2.3/ngDialog-theme-plain.css">
		
		<!-- SmartAdmin Styles-->
		<link rel="stylesheet" type="text/css" media="screen" href="../../../template_admin_smart/css/smartadmin-production.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="../../../template_admin_smart/css/smartadmin-skins.min.css">
		
		<!-- SmartAdmin RTL Support -->
		<link rel="stylesheet" type="text/css" media="screen" href="../../../template_admin_smart/css/smartadmin-rtl.min.css"> 
		 
		<!-- Importarmos angular JS -->
		<script type="text/javascript" src="../../../js/angular-1.4.7/angular.min.js"></script>
		<script type="text/javascript" src="../../../js/bootstrap-3.2.0/js/ui-bootstrap-tpls-0.10.0.js"></script>
		<script type="text/javascript" src="../../../js/ngdialog-0.2.3/ngDialog.min.js"></script> 
		<script type="text/javascript" src="../../../js/angucomplete/angucomplete.js"></script>
		<script type="text/javascript" src="../../../template_admin_smart/js/bootstrap/bootstrap.min.js"></script>

		<!-- Smart javascript framework -->
		<script type="text/javascript"	src="../../../js/smart/angular-websocket.js"></script>
		<script type="text/javascript" src="../../../js/smart/SmartUtil.js"></script>
		<script type="text/javascript" src="../../../js/smart/SmartApp.js"></script>
		<script type="text/javascript" src="js/registroempresaCtrl.js"></script>
		<script type="text/javascript" src="../../../js/smart/SmartServices.js"></script>
		<script type="text/javascript" src="../../../js/smart/SmartConstantes.js"></script>
		
		<!-- Importarmos Resources Services JS -->
		<link rel="stylesheet" type="text/css" media="screen" href="../../../js/bootstrap-3.2.0/css/font-awesome.min.css">
		
		<script type="text/javascript" src="js/resourceServicesRegistroempresa.js"></script>
		<script type="text/javascript" src="../departamento/js/resourceServicesDepartamento.js"></script>
		<script type="text/javascript" src="../ciudad/js/resourceServicesCiudad.js"></script>
		<script type="text/javascript" src="js/registroempresaCtrl.js"></script>
</head>
<body ng-controller="registroempresaCtrl" ng-init="onInit()">

	<!-- IMPLEMENTACION CONTENIDO BROADCASTER -->   
 		<div class="jarviswidget jarviswidget-color-blueDark" data-widget-colorbutton="false" data-widget-custombutton="false" data-widget-editbutton="false" id="wid-id-3">
            <header>
                <span class="widget-icon">
                	<i class=" fa fa-stack-overflow"></i>
               	</span>
                <h2>Administrar inmobiliaria</h2>
            </header>   
 
 			<div>
				<div class="jarviswidget-editbox"></div>
				<div class="widget-body no-padding">
					<div class="alert alert-info fade in" id="messageBox">
						<button class="close" data-dismiss="alert"></button>
						<i class="fa-fw fa fa-info" id="messageBoxImage"></i>
						<strong>{{titulo_mensajes}}</strong> {{descripcion_mensajes}}
					</div> 
					<form class="smart-form">
						<header>Datos inmobiliaria</header>
						<fieldset>
							<div class="row">
			    				<div class="col-12 col-sm-6 col-md-3">
			    					<label>Nit*</label>
			    					<div class="form-group">
			    						<input type="text" id="idnitempresa" ng-model="empresa.nitempresa" class="form-control" placeholder="Ingrese Nit" required>
			    					</div>
			    				</div>
			
			    				<div class="col-12 col-sm-6 col-md-3">
			    					<label>Raz&oacute;n social*</label>
			    					<div class="form-group">
			    						<input type="text" id="idrazonsocialempresa" ng-model="empresa.dsrazonsocial" class="form-control" placeholder="Ingrese raz&oacute;n social" required>
			    					</div>
			    				</div>
			    				
			    				<div class="col-12 col-sm-6 col-md-3">
			    					<label>Email*</label>
			    					<div class="form-group">
										<input type="text" id="idemailempresa" ng-model="empresa.dsemail" class="form-control" placeholder="Ingrese Email" required>
			    					</div>
			    				</div>
			    				
			    				<div class="col-12 col-sm-6 col-md-3">
			    					<label>Tel&eacute;fono*</label>
			    					<div class="form-group">
				                       <input type="text" id="idtelefonoempresa" ng-model="empresa.dstelefono" class="form-control" placeholder="Ingrese tel$eacute;fono Celular" required>
			    					</div>
			    				</div>
	    					</div>
	    					
	    					<div class="row">
			    				<div class="col-12 col-sm-6 col-md-3">
			    					<label>Departamento</label>
			    					<div class="form-group">
			    						<select id="iddepartamentoempresa" class="form-control select-sm" ng-model="departamento" ng-options="departamento as departamento.dsdepartamento for departamento in departamentos"						
												ng-change="consultarCiudadEmpresa()">
											<option value="">Seleccionar</option>
										</select> 
			    					</div>
			    				</div>
			    				
			    				<div class="col-12 col-sm-6 col-md-3">
			    					<label>Ciudad</label>
			    					<div class="form-group">
										<select id="idciudadempresa" class="form-control select-sm" ng-model="ciudad" ng-options="ciudad as ciudad.dsciudad for ciudad in ciudades">
											<option value="">Seleccionar</option>
										</select> 
			    					</div>
			    				</div>
			    				
			    				<div class="col-12 col-sm-6 col-md-3">
			    					<label>Direcci&oacute;n</label>
			    					<div class="form-group">
				                        <input type="text" id="iddireccionempresa" ng-model="empresa.dsdireccion" class="form-control" placeholder="Direcci&oacute;n" required>
			    					</div>
			    				</div>
			    			</div>
			    			<div class="row">
			   					<div class="col-3 col-sm-3 col-md-3">
			                         <input type="submit" value="Consulta" class="btn btn-dark btn-block" title="Bot&oacute;n para consultar los datos de modelos" ng-click="consultarColaborador()">
			    				</div>
			    				<div class="col-3 col-sm-3 col-md-3">	                         
			                         <input type="submit" value="Limpiar" class="btn btn-dark btn-block" title="Bot&oacute;n para Limpiar el formulario de consulta administraci&oacute;n de modelos" ng-click="limpiar()">
			    				</div>
							</div>
						</div>
					</fieldset>
					
					</form>
					<br>
	                 		<!-- grid lista de Actividad por tipo de sistema-->
					<section id="widget-grid" class="">
						<!-- row -->
						<div class="row">
							<!-- NEW WIDGET START -->
							<article class="col-12 col-sm-12 col-md-12 col-lg-12">
								<!-- Widget ID (each widget will need unique ID)-->
								<div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
									<header>
										<h2>Lista de inmobiliarias</h2>
									</header>
									<div style="overflow-y: auto; height:350px;">
										<div>
											<div class="jarviswidget-editbox"></div>
											<div class="widget-body no-padding">
												<table id="dt_basic" class="table table-striped table-bordered table-hover"  >
													<thead>		                
														<tr>
															<th style="width: 10%;">Acci&oacute;n</th>
															<th style="width: 20%;">Nit</th>
															<th style="width: 70%;">Raz&oacute;n social</th>											
														</tr>
													</thead>
													<tbody class="tbody">
														<tr ng-show="empresas.length == 0">
															<th colspan="9" style="text-align:center;">
																No se encontraron modelos con los parametros &iacute;ngresados
															</th>
														</tr>							
														<tr ng-repeat="e in empresas | orderBy : 'empresas'" style="font-size:12px">
															<td class="botonera-table" style="width: 10%;">
																<i class='fa fa-trash-o'></i>
																<button class='btn btn-xs btn-succses' data-original-title='Trash Row' ng-click="eliminarEmpresas(e)">
																	<i class='fa fa-trash-o'></i>
																</button>
															</td>
															<td align="right" style="width: 20%;">{{e.nitempresa}}</td>
															<td align="right" style="width: 70%;">{{e.dsrazonsocial}}</td>
														</tr>
													</tbody>					
												</table>
											</div>
										</div>
									</div>
								</div>
							</article>
						</div>
					</section>
	   				
	    		
		    </div>
		   	</div>
</body>
</html>
