<!doctype html>
<html ng-app="smartApp">
  <head>
   <meta charset="utf-8">
<title>Ingreso al sistema</title>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="stylesheet" href="../../../bootstrap/css/bootstrap.min.css">

<link href='https://fonts.googleapis.com/css?family=Lato:300,400,500'
	rel='stylesheet' type='text/css'>
<link href='../../../css/custom.css' rel='stylesheet' type='text/css'>

<script type="text/javascript" src="../../../js/jquery/jquery-3.4.1.min.js"></script>
<!-- Importarmos angular JS -->
	<script type="text/javascript" src="../../../js/angular-1.4.7/angular.min.js"></script>
	<script type="text/javascript" src="../../../js/ngdialog-0.2.3/ngDialog.min.js"></script>
	<script type="text/javascript" src="../../../js/angucomplete/angucomplete.js"></script>
	<script type="text/javascript" src="../../../js/smartmessagebox/app.min.js"> </script>
	<script type="text/javascript" src="../../../js/smartmessagebox/notification/SmartNotification.min.js"> </script>
	<script type="text/javascript" src="../../../js/smart/SmartConstantes.js"></script>

 <!-- Smart javascript framework -->
    <script type="text/javascript" src="../../../js/smart/angular-websocket.js"></script>
	<script type="text/javascript" src="../../../js/smart/SmartUtil.js"></script>
	<script type="text/javascript" src="../../../js/smart/SmartApp.js"></script>
	<script type="text/javascript" src="js/ingresoAlSistemaCtrl.js"></script>
	<script type="text/javascript" src="../../../js/smart/SmartServices.js"></script>

	<!-- Importarmos Resources Services JS -->
	<script type="text/javascript" src="js/resourceServicesIngresoAlSistema.js"></script>


</head>
<body ng-controller="ingresoAlSistemaCtrl" ng-init="onInit()">

<body ng-controller="autorizarcolaboradorCtrl" ng-init="onInit()">

	<div class="container">
		<div class="card card-container">
			<!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
			<img id="profile-img" class="profile-img-card"
				src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
			<p id="profile-name" class="profile-name-card"></p>
			<div class="row">
				<div class="col-xl-8 offset-xl-2">
					<form id="contact-form" method="post" action="" role="form">
						<div class="messages"></div>
						<div class="controls">
							<div class="row">
								<div class="col-lg-6">
									<div class="form-group">
										<label for="form_email">Email *</label> 
										<input
											id="dsemail" type="text" 
											class="form-control" placeholder="Ingrese su contrasena"
											required="required"
											data-error="El email es obligatorio."
											ng-model="usuario.dsemail"/>
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form-group">
										<label for="form_lastname">Contraseña *</label> 
										<input
											id="dscontrasena" type="password" 
											class="form-control" placeholder="Ingrese su contrasena"
											required="required"
											data-error="La contrasena es obligatoria."
											ng-model="usuario.dscontrasena"/>
										<div class="help-block with-errors"></div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-8">
									<div class="form-group">
										<div class="g-recaptcha"
											data-sitekey="6LfKURIUAAAAAO50vlwWZkyK_G2ywqE52NU7YO0S"
											data-callback="verifyRecaptchaCallback"
											data-expired-callback="expiredRecaptchaCallback"></div>
										<input class="form-control d-none" data-recaptcha="true"
											required data-error="Porfavor complete el Captcha">
										<div class="help-block with-errors"></div>
									</div>
								</div>

							</div>
							<div class="row">
								<div class="col-lg-6">
									<a href="" id="btnIniciarSesion" class="btn btn-success"
										ng-click="consultarUsuario()">Iniciar Sesiòn</a> <a href="#"
										class="forgot-password"> Recuperar Contraseña? </a>
								</div>
								<div class="col-lg-6">
									<a class="btn btn-primary" data-toggle="collapse"
										href="#collapseExample" role="button" aria-expanded="false"
										aria-controls="collapseExample"> Incribirse ahora </a>
								</div>
							</div>
							<div class="collapse" id="collapseExample">
								<div class="card card-body">
									<div class="row">
										<div class="col-lg-6">
											<div class="form-group">
												<label for="form_email">Correo *</label> <input
													id="form_email" type="email" name="email"
													class="form-control" placeholder="Ingrese su email *"
													required="required" data-error="El email es obligatorio.">
												<div class="help-block with-errors"></div>
											</div>
										</div>
										<div class="col-lg-6">
											<div class="form-group">
												<label for="form_email">Confirmación *</label> <input
													id="form_email" type="email" name="email"
													class="form-control" placeholder="Ingrese su email *"
													required="required" data-error="Confirmar su email.">
												<div class="help-block with-errors"></div>
											</div>
										</div>
										<input type="submit" class="btn btn-success btn-send"
											value="Registrarme">
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>
</body>
</html>