<!DOCTYPE html>
<html lang="en" ng-app="smartApp">
<head>
<meta charset="UTF-8">
<title>Propiedad</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">


<link rel="stylesheet"
	href="../../../js/bootstrap-3.2.0/css/bootstrap.css">

<link rel="stylesheet"
	href="../../../js/bootstrap-3.2.0/css/bootstrap.theme.css">
<link rel="stylesheet"
	href="../../../js/bootstrap-3.2.0/css/bootstrap-select.min.css">

<link rel="stylesheet" type="text/css" media="screen"
	href="../../../js/bootstrap-3.2.0/css/font-awesome.min.css">
<!-- Importarmos angular JS -->

<script type="text/javascript"
	src="../../../js/angular-1.4.7/angular.min.js"></script>

<script type="text/javascript"
	src="../../../js/jquery/jquery-3.4.1.min.js"></script>
<script type="text/javascript"
	src="../../../js/ngdialog-0.2.3/ngDialog.min.js"></script>
<script type="text/javascript"
	src="../../../js/angucomplete/angucomplete.js"></script>
<script type="text/javascript"
	src="../../../js/smartmessagebox/app.min.js"> </script>
<script type="text/javascript"
	src="../../../js/smart/SmartConstantes.js"></script>

<!-- Smart javascript framework -->
<script type="text/javascript"
	src="../../../js/smart/angular-websocket.js"></script>
<script type="text/javascript" src="../../../js/smart/SmartUtil.js"></script>
<script type="text/javascript" src="../../../js/smart/SmartApp.js"></script>
<script type="text/javascript" src="js/propiedadrCtrl.js"></script>
<script type="text/javascript" src="../../../js/smart/SmartServices.js"></script>
<script type="text/javascript"
	src="../../../js/smart/SmartConstantes.js"></script>

<!-- Importarmos Resources Services JS -->
<script type="text/javascript" src="js/resourceServicesPropiedad.js"></script>
<script type="text/javascript"
	src="../departamento/js/resourceServicesDepartamento.js"></script>
<script type="text/javascript"
	src="../ciudad/js/resourceServicesCiudad.js"></script>
</head>

<body ng-controller="propiedadCtrl" ng-init="onInit()">

	<div class=" container jarviswidget jarviswidget-color-blueDark"
		data-widget-colorbutton="false" data-widget-custombutton="false"
		data-widget-editbutton="false" id="wid-id-3">
		<header>
			<span class="widget-icon"> </span>
			<h2>Asesores</h2>
		</header>
		<div>
			<div class="jarviswidget-editbox"></div>
			<div class="widget-body no-padding">

				<form class="smart-form">
						<div class="row">
							<input id="scpropiedad" style="display: none;"
								ng-model="propiedad.scpropiedad" />
								
							<section class="col col-4">
								<label class="label">Tipo documento*</label> <select
									class="form-control" id="tipodocumento"
									ng-model="tipodocumento"
									ng-options="tipoidenticacion as tipoidentificacion.dsdatmaestro for tipoidentificacion in tipoidentificaciones"
									autofocus>
									<option value="">Seleccionar</option>
							</select>				
						 </div>
						

							<button type="submit" class="btn" href="javascript:void(0);"
								id="btnguardar" title="Guardar Empresa" data-toggle="tooltip"
								data-original-title='Guardar Empresa' ng-click="grabarEmpresa()"
								tabindex=3>
								<b>Guardar</b>
							</button>
					
				</form>
			</div>
		</div>
	</div>

</body>
</html>





